  <div class="modal slide-in-up"  ng-controller="newCtrl">
   <header class="bar bar-header  bar-dark bar-secondary">
      <button id="idFormBack" class=" button button-medium button-clear icon ion-android-arrow-back button-primary" ng-click="backToPreviousForm()"></button>
     
       <h1 id="idFacility" class=" title">Labaratory</h1>
       
      
      <button class="button button-clear button-secondary" ng-click="close()">Cancel</button>
     
   </header>
   <ion-content class="has-header" overflow-scroll="true">
  <form  name="userForm2" ng-hide="Labaratory" validate ng-submit="edit2()">
        <div class="list" >
  
  
  <label class="checkbox ">
   <span class="input-label CBSpanDisplay">Facilities</span>
   <div class="">
      <div ng-repeat="laboratory in laboratories">
     <div class="facilityCBdisplay">
    <input type="checkbox"/><span class="input-label itemcheckbox facilityLabeldisplay ">{{laboratory.name}}</span>
     </div>
      </div>
    
   </div>
  </label>
  
 <label class="item item-input item-stacked-label">
    <span class="input-label">Others</span>
    <input type="text" ng-model="LabaratoryOthers" placeholder="Should you feel there's a facility missing, please let us know and we'll consider adding it.">
  </label>
  
  
        </div>
        <button type="submit" class="button button-block buttonsave button-calm icon-left ion-chevron-right " >Save</button>
        </form>    
   </ion-content>
</div>